<div class="ico_loading" *ngIf="isLoading"></div>
<div class="loading_dom" *ngIf="isLoading"></div>
<div class="block_box">
    <ul class="con_title_wrap">
        <li class="title location">지역별 인구수</li>
        <li class="btn_group">
            <a href="javascript:;" class="btn_download btn_target" [class.ing]="isDownloadExcel" title="최대 10000건까지 다운로드 가능" (click)="onClickExcelDownload()">Download</a>
        </li>
    </ul>
    <div id="div-grid" style="height:304px;">
        Grid 영역
    </div>
</div>