<!-- 3 Columns layout -->
<div class="wrap">
    <!-- flexible button -->
    <!-- 닫힘시 클래스 'close' -->
    <button type="button" class="l_flexible" (click)="eventCtrl.onClickFlexibleCtrl(false);" [class.left_close]="eventCtrl.isLeftFlexible"></button>
    <!--// flexible button -->

    <!-- flexible button -->
    <!-- 닫힘시 클래스 'close' -->
    <button type="button" class="r_flexible" (click)="eventCtrl.onClickFlexibleCtrl(true);" [class.increas]="eventCtrl.isRightFlexible"></button>
    <!--// flexible button -->

    <!-- search block -->
    <div class="left_wrap" [class.hide]="eventCtrl.isLeftFlexible">
        <lpm-left [leftUIType]="leftUIType"></lpm-left>   
    </div>
    <!--// search block -->

    <!-- center container -->
    <div class="lpm_container" [class.right_increas]="eventCtrl.isRightFlexible" [class.left_hide]="eventCtrl.isLeftFlexible">
        <!-- center content start -->
        <lpm-center [hidden]="eventCtrl.isRightKindHide"
                [centerUIType]="centerUIType">
        </lpm-center>
    </div>
    <!--// center container -->

    <!-- right side -->
    <div class="right_container" [class.increas]="eventCtrl.isRightFlexible">
        <lpm-right [rightUIType]="rightUIType"></lpm-right>
    </div>
    <!--// right side -->
</div>
<!-- 3 Columns layout -->