<div class="section_box list_scroll_wrap" [class.extend]="isListExpansion">
  
  <!-- section header -->
  <ul class="con_title_wrap">
    <li class="title graph_list">
      장비목록
      <span class="title_guide_txt">장비명을 클릭하면 1시간단위로 성능을 확인 할 수 있습니다.</span>
    </li>
    <li class="btn_group">
      <div class="select_wrap mr_5">
        <label class="custom-select w_130">
          <select (change)="changeShowCnt($event);" #selectCntBox>
            <option value="10">10개 보기</option>
            <option value="30">30개 보기</option>
            <option value="50">50개 보기</option>
            <option value="100">100개 보기</option>
          </select>
        </label>
      </div>

      <!-- <button type="button" class="btn_small list_more" (click)="appendEpmList()">{{showDataDisplay}}</button> -->
      <a href="javascript:;" class="btn_download device_list ml_10 mr_10" [class.ing]="isDownloadExcel" title="최대 10,000건까지 다운로드 가능" (click)="downloadExcel()"></a> 
      <a href="javascript:;" class="btn_extend device_list" (click)="showExpansion()">extend</a>
    </li>
  </ul>
  <!-- section header -->

  <!-- data table -->
  <div class="x-scroll_wrap">
    <div class="device_list_wrap list_scroll" [class.extend]="isListExpansion">
      <table *ngIf="epmHeaderListData.length" class="double_th_tbl link" [style.width]="equipment == 'cell' ? '1700px' : '1600px'">
        <colgroup>
          <col style="width:70px;">
          <col style="width:70px;">
          <col style="width:250px;">
          <col style="width:100px;">
          <col *ngIf="equipment == 'cell'" style="width:100px;">
          <col style="width:100px;">
          <col style="width:200px;">
          <col style="width:100px;">
          <col style="width:100px;">
          <col style="width:100px;">
          <col style="width:150px;">
          <col style="width:150px;">
          <col style="width:150px;">
          <col style="width:150px;">
        </colgroup>
        <thead>
          <tr>
            <th>번호</th>
            <ng-container *ngFor="let item of epmHeaderListData">
              <th>{{item}}</th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let listItem of epmListData; let i = index" [class.selected]="selectedEqp[i] != null" (click)="selectEpmList(listItem, i)">
            <td>{{epmListData.length - i}}</td>
            <ng-container *ngFor="let item of listItem; let j = index">
              <td *ngIf="j != 1">{{item}}</td>
              <td *ngIf="j == 1" class="device_name">{{item}}</td>
            </ng-container>
          </tr>
          <tr *ngIf="!epmListData.length">
            <td [attr.colspan]="epmHeaderListData.length + 1">해당 데이터가 존재하지 않습니다.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--// data table -->
</div>
