<!-- 우측 선택적 컨텐츠 -->
<div *ngIf="menuDetailData" class="right_kind_box">
  <p class="title adress">
    {{menuDetailData?.scrnNm}}
    <span *ngIf="menuDetailData?.fltrDtlList[0].fltrUnit"> ({{menuDetailData?.fltrDtlList[0].fltrUnit}})</span>
    <span *ngIf="menuDetailData.fltrDesc" class="guide_txt" [attr.alt]="menuDetailData.fltrDesc">?</span>
    <a href="javascript:;" class="btn_close" (click)="closeRightKind()">X</a>
  </p>
  <!-- scrnClNm 따른 컴포넌트 사용 -->
  <checkrange #rightChild *ngIf="menuDetailData.scrnClNm == 'checkrange'" [menuDetailData]="menuDetailData"></checkrange>
  <range #rightChild *ngIf="menuDetailData.scrnClNm == 'range'" [menuDetailData]="menuDetailData"></range>
  <druidrange #rightChild *ngIf="menuDetailData.scrnClNm == 'druidrange'" [menuDetailData]="menuDetailData"></druidrange>
  <calendar #rightChild *ngIf="menuDetailData.scrnClNm == 'calendar'" [menuDetailData]="menuDetailData"></calendar>
  <single #rightChild *ngIf="menuDetailData.scrnClNm == 'single'" [menuDetailData]="menuDetailData"></single>
  <multiple #rightChild *ngIf="menuDetailData.scrnClNm?.includes('multiple')" [menuDetailData]="menuDetailData"></multiple>
  <weekly #rightChild *ngIf="menuDetailData.scrnClNm == 'weekly'" [menuDetailData]="menuDetailData"></weekly>
  <ymdh #rightChild *ngIf="menuDetailData.scrnClNm == 'ymdh'" [menuDetailData]="menuDetailData"></ymdh>
  <list #rightChild *ngIf="menuDetailData.scrnClNm == 'list'" [menuDetailData]="menuDetailData"></list>
  <region #rightChild *ngIf="menuDetailData.scrnClNm?.startsWith('region')" [menuDetailData]="menuDetailData" (onShowTwoDepth)="showTwoDepth($event)"></region>
  <org #rightChild *ngIf="menuDetailData.scrnClNm?.startsWith('org')" [menuDetailData]="menuDetailData" (onShowTwoDepth)="showTwoDepth($event)"></org>
  <ems #rightChild *ngIf="menuDetailData.scrnClNm?.startsWith('ems')" [menuDetailData]="menuDetailData" (onShowTwoDepth)="showTwoDepth($event)"></ems>
  <mtso #rightChild *ngIf="menuDetailData.scrnClNm == 'mtso'" [menuDetailData]="menuDetailData"></mtso>
  <address #rightChild *ngIf="menuDetailData.scrnClNm == 'address'" [menuDetailData]="menuDetailData"></address>
  <datetime #rightChild *ngIf="menuDetailData.scrnClNm == 'datetime'" [menuDetailData]="menuDetailData"></datetime>
  <specifictime #rightChild *ngIf="menuDetailData.scrnClNm == 'specifictime'" [menuDetailData]="menuDetailData"></specifictime>
  <hour #rightChild *ngIf="menuDetailData.scrnClNm == 'hour'" [menuDetailData]="menuDetailData"></hour>
  <hierarchy #rightChild *ngIf="menuDetailData.scrnClNm == 'hierarchy'" [menuDetailData]="menuDetailData"></hierarchy>
  <group #rightChild *ngIf="menuDetailData.scrnClNm == 'group'" [menuDetailData]="menuDetailData"></group>
  <cei #rightChild *ngIf="menuDetailData.scrnClNm == 'cei'" [menuDetailData]="menuDetailData"></cei>
  <custmulticheck #rightChild *ngIf="menuDetailData.scrnClNm == 'custmulticheck'" [menuDetailData]="menuDetailData"></custmulticheck>

</div>
<button *ngIf="menuDetailData" type="button" class="btn_done mt_10" [class.increas]="isRightFlexible" (click)="submitRightKind()">
  <span class="ico_search">선택된 조건 필터 적용</span>
</button>

<div *ngIf="!menuDetailData" class="no_item">
  선택된 조건이 없습니다.
</div>
<!--// 우측 선택적 컨텐츠 -->

<!-- 우측 컨텐츠 선택시 2depth 화면 -->
<ng-container *ngIf="selectedLastNode != 'undefined' || selectedLastNode">
  <enb #twoDepthChild *ngIf="isTwoDepth === 'enb'" [selectedLastNode]="selectedLastNode"></enb>
  <cell #twoDepthChild *ngIf="isTwoDepth === 'cell'" [selectedLastNode]="selectedLastNode"></cell>
</ng-container>
<!--// 우측 컨텐츠 선택시 2depth 화면 -->
