/**************************************************
★ INFRA PROFILING MATRIX
★ Ver : 1.0
★ Last Update : 2018.11.05
★ openit Inc. 2018
**************************************************/


@charset "utf-8";

/* Reset ***********************************************************/
html, body { height:100%; } /*ie7 세로스크롤 제거 */
#ipm_wrap .h100 { height:100%; } 
html, body, #ipm_wrap p, #ipm_wrap div, #ipm_wrap ul, #ipm_wrap ol, #ipm_wrap li, #ipm_wrap dl, #ipm_wrap dt, #ipm_wrap dd, #ipm_wrap form, #ipm_wrap table, #ipm_wrap th, #ipm_wrap td, #ipm_wrap fieldset, #ipm_wrap input, #ipm_wrap textarea, #ipm_wrap select, #ipm_wrap button, #ipm_wrap h1, #ipm_wrap h2, #ipm_wrap h3, #ipm_wrap h4,#ipm_wrap h5, #ipm_wrap h6, #ipm_wrap pre {
	margin:0;
	padding:0;
	font-family: 'Nanum Barun Gothic', sans-serif;
	color:#333;
	font-size:12px;
	font-weight: 400;
}

#ipm_wrap fieldset, #ipm_wrap img, #ipm_wrap input { border:0; vertical-align:middle; }
#ipm_wrap select { vertical-align:middle; height:20px; }
#ipm_wrap img {-ms-interpolation-mode:bicubic !important;}

#ipm_wrap input::placeholder { font-size:13px; color:#cecece; }
#ipm_wrap input:-ms-input-placeholder { font-size:13px; color: #cecece; opacity: .3; }

#ipm_wrap table { border-collapse:collapse; width:100%; border-spacing: 0; }
#ipm_wrap legend { position:absolute; overflow:hidden; visibility:hidden; width:0; height:0; font-size:0; line-height:0; }
#ipm_wrap caption { visibility:hidden; overflow:hidden; width:0;height:0;font-size:0;line-height:0; }
#ipm_wrap ul, #ipm_wrap ol { list-style:none !important; }

#ipm_wrap a { color:#5a5450; text-decoration:none; }
#ipm_wrap a:active {color:#707070; text-decoration:none; }

#ipm_wrap em { font-style: normal; }
#ipm_wrap * {
	-webkit-letter-spacing: -1px !important;
	letter-spacing: -1px !important;
	box-sizing:border-box !important;
}
#ipm_wrap button,
#ipm_wrap a { border:0; cursor:pointer;}
/* Reset ***********************************************************/

/* Input : Text ***********************************************************/
#ipm_wrap input:focus, #ipm_wrap textarea:focus, #ipm_wrap select:focus { outline: none; }
#ipm_wrap input[type='text'] {
	border:0;
	font-size:14px;
	color:#666;
	background:#F6F6F6;
	padding:10px 9px;
}
/* Input : Text ***********************************************************/

/* Custom Select ***********************************************************/
.select_data {
	display: inline-block;
	width:65px;
	text-align:left;
	padding-left:12px;
	font-size: 13px !important;
}

label.custom-select {
    position: relative;
    display: inline-block;
    line-height: 30px;
}

.custom-select select {
	display: inline-block;
	width:100%;
	border: 1px solid #E9EBED;
	padding: 0 3px 0 5px !important;
	margin: 0;
	font: inherit;
	outline:none; 
	background: #fff;
	appearance: none;
	-webkit-appearance:none; 
	-moz-appearance:none; 
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	line-height: 30px !important;
	height: 30px !important;
	color:#999 !important;
}
.custom-select select::-ms-expand,
.custom-select-noline select::-ms-expand { display:none; }

/* for Webkit's CSS-only solution */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
	.custom-select select,
	.custom-select-noline select {
		padding-right:30px;    
	}
}

/* Select arrow styling */
.custom-select:after {
	content: "";
	position: absolute;
	top: 0;
	right: 5px;
	bottom: 0;
	font-size: 60%;
	padding: 0 7px;
	background: #fff;
	color: #ddd !important;
	pointer-events:none;
	-webkit-border-radius: 0 2px 2px 0;
	-moz-border-radius: 0 2px 2px 0;
	border-radius: 0 2px 2px 0;
	line-height: 30px;
	background:url('../../images/ipm/ico_selectbox_arrow.png') 0 center no-repeat;
}

.no-pointer-events .custom-select:after,
.no-pointer-events .custom-select-noline:after { content: none; }

label.custom-select-noline {
    position: relative;
    display: inline-block;
    line-height: 28px;
}

.custom-select-noline select {
	display: inline-block;
	width:100%;
	border: 1px solid #fff;
	padding: 0 3px 0 0 !important;
	margin: 0;
	font: inherit;
	outline:none; 
	background: #fff;
	appearance: none;
	-webkit-appearance:none; 
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	line-height: 28px !important;
	height: 28px !important;
	color:#999 !important;
}

/* Select arrow styling */
.custom-select-noline:after {
	content: "";
	position: absolute;
	top: 0;
	right: 9px;
	bottom: 0;
	font-size: 60%;
	padding: 0 7px;
	background: #fff;
	color: #ddd !important;
	pointer-events:none;
	-webkit-border-radius: 0 2px 2px 0;
	-moz-border-radius: 0 2px 2px 0;
	border-radius: 0 2px 2px 0;
	line-height: 28px;
	background:url('../../images/ipm/ico_selectbox_arrow.png') 0 center no-repeat;
}

/* Custom Select ***********************************************************/

/* Input : checkbox ***********************************************************/
.chk_box { line-height:20px; }
.chk_box label span { font-size:12px; color:#999; margin-left:5px;}
input[type='checkbox'] { display: none; }
.checkbox input[type='checkbox'] + label::before {
        content: ' '; 
        display: inline-block; 
        width: 16px; 
        height: 16px;
        vertical-align: middle;
        background: url('../../images/ipm/ico_checkbox_off.png');
}
.checkbox input[type='checkbox']:checked + label::before {
        background: url('../../images/ipm/ico_checkbox_on.png');
}
/* Input : checkbox ***********************************************************/

/* Input : number ***********************************************************/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number]::-ms-clear { display:none; }
/* Input : number ***********************************************************/

/* i Scroll ***********************************************************/
.iscroll::-webkit-scrollbar-track,
.iscroll-x::-webkit-scrollbar-track { border-radius: 4px; }

.iscroll-x::-webkit-scrollbar-thumb,
.iscroll::-webkit-scrollbar-thumb { border-radius: 4px; background-color: rgba(0, 0, 0, 0.08); }

.iscroll::-webkit-scrollbar { width: 5px; }
.iscroll-x::-webkit-scrollbar { height: 5px;}

/* i Scroll ***********************************************************/


/* common style ***********************************************************/
#ipm_wrap .txt_dot {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	word-wrap:normal;
}

#ipm_wrap .roboto { font-family: 'Roboto'; }

#ipm_wrap .txt_l { text-align: left !important; }
#ipm_wrap .txt_c { text-align: center !important; }
#ipm_wrap .txt_r { text-align: right !important; }

#ipm_wrap .dsp_none { display:none !important; }
#ipm_wrap .dsp_block { display:block !important; }
#ipm_wrap .dsp_inblock { display:inline-block !important; }

#ipm_wrap .visible_none { visibility:hidden !important; }

#ipm_wrap .clear_wrap:after { clear: both; display: block; content: ''; }
#ipm_wrap .float_l { float:left !important; }
#ipm_wrap .float_r { float:right !important; }

#ipm_wrap .position_r { position:relative !important }
#ipm_wrap .position_a { position:absolute !important }
#ipm_wrap .position_f { position:fixed !important }

#ipm_wrap .mt_0 { margin-top: 0px !important;}
#ipm_wrap .mt_5 { margin-top: 5px !important;}
#ipm_wrap .mt_10 { margin-top: 10px !important;}
#ipm_wrap .mt_15 { margin-top: 15px !important;}
#ipm_wrap .mt_20 { margin-top: 20px !important;}
#ipm_wrap .mt_25 { margin-top: 25px !important;}
#ipm_wrap .mt_30 { margin-top: 30px !important;}
#ipm_wrap .mt_35 { margin-top: 35px !important;}
#ipm_wrap .mt_40 { margin-top: 40px !important;}
#ipm_wrap .mt_45 { margin-top: 45px !important;}
#ipm_wrap .mt_50 { margin-top: 50px !important;}
#ipm_wrap .mt_60 { margin-top: 60px !important;}
#ipm_wrap .mt_70 { margin-top: 70px !important;}
#ipm_wrap .mt_80 { margin-top: 80px !important;}
#ipm_wrap .mt_90 { margin-top: 90px !important;}
#ipm_wrap .mt_100 { margin-top: 100px !important;}
#ipm_wrap .mt_150 { margin-top: 150px !important;}
#ipm_wrap .mt_200 { margin-top: 200px !important;}


#ipm_wrap .ml_0 { margin-left:0px !important;}
#ipm_wrap .ml_5 { margin-left:5px !important;}
#ipm_wrap .ml_10 { margin-left:10px !important;}
#ipm_wrap .ml_15 { margin-left:15px !important;}
#ipm_wrap .ml_20 { margin-left:20px !important;}
#ipm_wrap .ml_25 { margin-left:25px !important;}
#ipm_wrap .ml_30 { margin-left:30px !important;}
#ipm_wrap .ml_35 { margin-left:35px !important;}
#ipm_wrap .ml_35 { margin-left:35px !important;}
#ipm_wrap .ml_40 { margin-left:40px !important;}
#ipm_wrap .ml_45 { margin-left:45px !important;}
#ipm_wrap .ml_50 { margin-left:50px !important;}
#ipm_wrap .ml_55 { margin-left:55px !important;}
#ipm_wrap .ml_60 { margin-left:60px !important;}
#ipm_wrap .ml_65 { margin-left:65px !important;}
#ipm_wrap .ml_70 { margin-left:70px !important;}
#ipm_wrap .ml_75 { margin-left:75px !important;}
#ipm_wrap .ml_80 { margin-left:80px !important;}
#ipm_wrap .ml_85 { margin-left:85px !important;}
#ipm_wrap .ml_90 { margin-left:90px !important;}
#ipm_wrap .ml_100 { margin-left:100px !important;}
#ipm_wrap .ml_150 { margin-left:150px !important;}
#ipm_wrap .ml_200 { margin-left:200px !important;}


#ipm_wrap .mr_0 { margin-right:0px !important;}
#ipm_wrap .mr_5 { margin-right:5px !important;}
#ipm_wrap .mr_10 { margin-right:10px !important;}
#ipm_wrap .mr_15 { margin-right:15px !important;}
#ipm_wrap .mr_20 { margin-right:20px !important;}
#ipm_wrap .mr_25 { margin-right:25px !important;}
#ipm_wrap .mr_30 { margin-right:30px !important;}
#ipm_wrap .mr_35 { margin-right:35px !important;}
#ipm_wrap .mr_35 { margin-right:35px !important;}
#ipm_wrap .mr_40 { margin-right:40px !important;}
#ipm_wrap .mr_45 { margin-right:45px !important;}
#ipm_wrap .mr_50 { margin-right:50px !important;}
#ipm_wrap .mr_55 { margin-right:55px !important;}
#ipm_wrap .mr_60 { margin-right:60px !important;}
#ipm_wrap .mr_65 { margin-right:65px !important;}
#ipm_wrap .mr_70 { margin-right:70px !important;}
#ipm_wrap .mr_75 { margin-right:75px !important;}
#ipm_wrap .mr_80 { margin-right:80px !important;}
#ipm_wrap .mr_85 { margin-right:85px !important;}
#ipm_wrap .mr_90 { margin-right:90px !important;}
#ipm_wrap .mr_100 { margin-right:100px !important;}
#ipm_wrap .mr_150 { margin-right:150px !important;}
#ipm_wrap .mr_200 { margin-right:200px !important;}


#ipm_wrap .mb_0 { margin-bottom:0px !important;}
#ipm_wrap .mb_5 { margin-bottom:5px !important;}
#ipm_wrap .mb_10 { margin-bottom:10px !important;}
#ipm_wrap .mb_15 { margin-bottom:15px !important;}
#ipm_wrap .mb_20 { margin-bottom:20px !important;}
#ipm_wrap .mb_25 { margin-bottom:25px !important;}
#ipm_wrap .mb_30 { margin-bottom:30px !important;}
#ipm_wrap .mb_35 { margin-bottom:35px !important;}
#ipm_wrap .mb_35 { margin-bottom:35px !important;}
#ipm_wrap .mb_40 { margin-bottom:40px !important;}
#ipm_wrap .mb_45 { margin-bottom:45px !important;}
#ipm_wrap .mb_50 { margin-bottom:50px !important;}
#ipm_wrap .mb_55 { margin-bottom:55px !important;}
#ipm_wrap .mb_60 { margin-bottom:60px !important;}
#ipm_wrap .mb_65 { margin-bottom:65px !important;}
#ipm_wrap .mb_70 { margin-bottom:70px !important;}
#ipm_wrap .mb_75 { margin-bottom:75px !important;}
#ipm_wrap .mb_80 { margin-bottom:80px !important;}
#ipm_wrap .mb_85 { margin-bottom:85px !important;}
#ipm_wrap .mb_90 { margin-bottom:90px !important;}
#ipm_wrap .mb_100 { margin-bottom:100px !important;}
#ipm_wrap .mb_150 { margin-bottom:150px !important;}
#ipm_wrap .mb_200 { margin-bottom:200px !important;}

#ipm_wrap .Margin-10 { margin:10px !important; }
#ipm_wrap .Margin-20 { margin:20px !important; }
#ipm_wrap .Margin-30 { margin:30px !important; }
#ipm_wrap .Margin-40 { margin:40px !important; }
#ipm_wrap .Margin-50 { margin:50px !important; }
#ipm_wrap .Margin-60 { margin:60px !important; }
#ipm_wrap .Margin-70 { margin:70px !important; }
#ipm_wrap .Margin-80 { margin:80px !important; }
#ipm_wrap .Margin-90 { margin:90px !important; }
#ipm_wrap .Margin-100 { margin:100px !important; }

/* padding */
#ipm_wrap .pt_0 { padding-top: 0px !important;}
#ipm_wrap .pt_5 { padding-top: 5px !important;}
#ipm_wrap .pt_10 { padding-top: 10px !important;}
#ipm_wrap .pt_15 { padding-top: 15px !important;}
#ipm_wrap .pt_20 { padding-top: 20px !important;}
#ipm_wrap .pt_25 { padding-top: 25px !important;}
#ipm_wrap .pt_30 { padding-top: 30px !important;}
#ipm_wrap .pt_35 { padding-top: 35px !important;}
#ipm_wrap .pt_40 { padding-top: 40px !important;}
#ipm_wrap .pt_45 { padding-top: 45px !important;}
#ipm_wrap .pt_50 { padding-top: 50px !important;}
#ipm_wrap .pt_60 { padding-top: 60px !important;}
#ipm_wrap .pt_70 { padding-top: 70px !important;}
#ipm_wrap .pt_80 { padding-top: 80px !important;}
#ipm_wrap .pt_90 { padding-top: 90px !important;}
#ipm_wrap .pt_100 { padding-top: 100px !important;}
#ipm_wrap .pt_150 { padding-top: 150px !important;}
#ipm_wrap .pt_200 { padding-top: 200px !important;}


#ipm_wrap .pl_0 { padding-left:0px !important;}
#ipm_wrap .pl_5 { padding-left:5px !important;}
#ipm_wrap .pl_10 { padding-left:10px !important;}
#ipm_wrap .pl_15 { padding-left:15px !important;}
#ipm_wrap .pl_20 { padding-left:20px !important;}
#ipm_wrap .pl_25 { padding-left:25px !important;}
#ipm_wrap .pl_30 { padding-left:30px !important;}
#ipm_wrap .pl_35 { padding-left:35px !important;}
#ipm_wrap .pl_35 { padding-left:35px !important;}
#ipm_wrap .pl_40 { padding-left:40px !important;}
#ipm_wrap .pl_45 { padding-left:45px !important;}
#ipm_wrap .pl_50 { padding-left:50px !important;}
#ipm_wrap .pl_55 { padding-left:55px !important;}
#ipm_wrap .pl_60 { padding-left:60px !important;}
#ipm_wrap .pl_65 { padding-left:65px !important;}
#ipm_wrap .pl_70 { padding-left:70px !important;}
#ipm_wrap .pl_75 { padding-left:75px !important;}
#ipm_wrap .pl_80 { padding-left:80px !important;}
#ipm_wrap .pl_85 { padding-left:85px !important;}
#ipm_wrap .pl_90 { padding-left:90px !important;}
#ipm_wrap .pl_100 { padding-left:100px !important;}
#ipm_wrap .pl_150 { padding-left:150px !important;}
#ipm_wrap .pl_200 { padding-left:200px !important;}


#ipm_wrap .pr_0 { padding-right:0px !important;}
#ipm_wrap .pr_5 { padding-right:5px !important;}
#ipm_wrap .pr_10 { padding-right:10px !important;}
#ipm_wrap .pr_15 { padding-right:15px !important;}
#ipm_wrap .pr_20 { padding-right:20px !important;}
#ipm_wrap .pr_25 { padding-right:25px !important;}
#ipm_wrap .pr_30 { padding-right:30px !important;}
#ipm_wrap .pr_35 { padding-right:35px !important;}
#ipm_wrap .pr_35 { padding-right:35px !important;}
#ipm_wrap .pr_40 { padding-right:40px !important;}
#ipm_wrap .pr_45 { padding-right:45px !important;}
#ipm_wrap .pr_50 { padding-right:50px !important;}
#ipm_wrap .pr_55 { padding-right:55px !important;}
#ipm_wrap .pr_60 { padding-right:60px !important;}
#ipm_wrap .pr_65 { padding-right:65px !important;}
#ipm_wrap .pr_70 { padding-right:70px !important;}
#ipm_wrap .pr_75 { padding-right:75px !important;}
#ipm_wrap .pr_80 { padding-right:80px !important;}
#ipm_wrap .pr_85 { padding-right:85px !important;}
#ipm_wrap .pr_90 { padding-right:90px !important;}
#ipm_wrap .pr_100 { padding-right:100px !important;}
#ipm_wrap .pr_150 { padding-right:150px !important;}
#ipm_wrap .pr_200 { padding-right:200px !important;}

#ipm_wrap .pb_0 { padding-bottom:0px !important;}
#ipm_wrap .pb_5 { padding-bottom:5px !important;}
#ipm_wrap .pb_10 { padding-bottom:10px !important;}
#ipm_wrap .pb_15 { padding-bottom:15px !important;}
#ipm_wrap .pb_20 { padding-bottom:20px !important;}
#ipm_wrap .pb_25 { padding-bottom:25px !important;}
#ipm_wrap .pb_30 { padding-bottom:30px !important;}
#ipm_wrap .pb_35 { padding-bottom:35px !important;}
#ipm_wrap .pb_35 { padding-bottom:35px !important;}
#ipm_wrap .pb_40 { padding-bottom:40px !important;}
#ipm_wrap .pb_45 { padding-bottom:45px !important;}
#ipm_wrap .pb_50 { padding-bottom:50px !important;}
#ipm_wrap .pb_55 { padding-bottom:55px !important;}
#ipm_wrap .pb_60 { padding-bottom:60px !important;}
#ipm_wrap .pb_65 { padding-bottom:65px !important;}
#ipm_wrap .pb_70 { padding-bottom:70px !important;}
#ipm_wrap .pb_75 { padding-bottom:75px !important;}
#ipm_wrap .pb_80 { padding-bottom:80px !important;}
#ipm_wrap .pb_85 { padding-bottom:85px !important;}
#ipm_wrap .pb_90 { padding-bottom:90px !important;}
#ipm_wrap .pb_100 { padding-bottom:100px !important;}
#ipm_wrap .pb_150 { padding-bottom:150px !important;}
#ipm_wrap .pb_200 { padding-bottom:200px !important;}
#ipm_wrap 
#ipm_wrap 
#ipm_wrap .Padding-10 { padding:10px !important; }
#ipm_wrap .Padding-20 { padding:20px !important;  }
#ipm_wrap .Padding-30 { padding:30px !important; }
#ipm_wrap .Padding-40 { padding:40px !important; }
#ipm_wrap .Padding-50 { padding:50px !important; }
#ipm_wrap .Padding-60 { padding:60px !important; }
#ipm_wrap .Padding-70 { padding:70px !important; }
#ipm_wrap .Padding-80 { padding:80px !important; }
#ipm_wrap .Padding-90 { padding:90px !important; }
#ipm_wrap .Padding-100 { padding:100px !important; }
/* common style ***********************************************************/

/* Width */
#ipm_wrap .Width-100 { width:100% !important; }
#ipm_wrap .Width-95 { width:95% !important; }
#ipm_wrap .Width-90 { width:90% !important; }
#ipm_wrap .Width-85 { width:85% !important; }
#ipm_wrap .Width-80 { width:80% !important; }
#ipm_wrap .Width-75 { width:75% !important; }
#ipm_wrap .Width-70 { width:70% !important; }
#ipm_wrap .Width-65 { width:65% !important; }
#ipm_wrap .Width-60 { width:60% !important; }
#ipm_wrap .Width-55 { width:55% !important; }
#ipm_wrap .Width-50 { width:50% !important; }
#ipm_wrap .Width-45 { width:45% !important; }
#ipm_wrap .Width-40 { width:40% !important; }
#ipm_wrap .Width-35 { width:35% !important; }
#ipm_wrap .Width-30 { width:30% !important; }
#ipm_wrap .Width-25 { width:25% !important; }
#ipm_wrap .Width-20 { width:20% !important; }
#ipm_wrap .Width-15 { width:15% !important; }
#ipm_wrap .Width-10 { width:10% !important; }
#ipm_wrap .Width-5 { width:5% !important; }
#ipm_wrap .Width-auto { width:auto !important; }

/* Width pixel */
#ipm_wrap .w_1 { width:1px !important; }
#ipm_wrap .w_2 { width:2px !important; }
#ipm_wrap .w_3 { width:3px !important; }
#ipm_wrap .w_4 { width:4px !important; }
#ipm_wrap .w_5 { width:5px !important; }
#ipm_wrap .w_6 { width:6px !important; }
#ipm_wrap .w_7 { width:7px !important; }
#ipm_wrap .w_8 { width:8px !important; }
#ipm_wrap .w_9 { width:9px !important; }
#ipm_wrap .w_10 { width:10px !important; }
#ipm_wrap .w_11 { width:11px !important; }
#ipm_wrap .w_12 { width:12px !important; }
#ipm_wrap .w_13 { width:13px !important; }
#ipm_wrap .w_14 { width:14px !important; }
#ipm_wrap .w_15 { width:15px !important; }
#ipm_wrap .w_16 { width:16px !important; }
#ipm_wrap .w_17 { width:17px !important; }
#ipm_wrap .w_18 { width:18px !important; }
#ipm_wrap .w_19 { width:19px !important; }
#ipm_wrap .w_20 { width:20px !important; }
#ipm_wrap .w_21 { width:21px !important; }
#ipm_wrap .w_22 { width:22px !important; }
#ipm_wrap .w_23 { width:23px !important; }
#ipm_wrap .w_24 { width:24px !important; }
#ipm_wrap .w_25 { width:25px !important; }
#ipm_wrap .w_26 { width:26px !important; }
#ipm_wrap .w_27 { width:27px !important; }
#ipm_wrap .w_28 { width:28px !important; }
#ipm_wrap .w_29 { width:29px !important; }
#ipm_wrap .w_30 { width:30px !important; }
#ipm_wrap .w_31 { width:31px !important; }
#ipm_wrap .w_32 { width:32px !important; }
#ipm_wrap .w_33 { width:33px !important; }
#ipm_wrap .w_34 { width:34px !important; }
#ipm_wrap .w_35 { width:35px !important; }
#ipm_wrap .w_36 { width:36px !important; }
#ipm_wrap .w_37 { width:37px !important; }
#ipm_wrap .w_38 { width:38px !important; }
#ipm_wrap .w_39 { width:39px !important; }
#ipm_wrap .w_40 { width:40px !important; }
#ipm_wrap .w_41 { width:41px !important; }
#ipm_wrap .w_42 { width:42px !important; }
#ipm_wrap .w_43 { width:43px !important; }
#ipm_wrap .w_44 { width:44px !important; }
#ipm_wrap .w_45 { width:45px !important; }
#ipm_wrap .w_46 { width:46px !important; }
#ipm_wrap .w_47 { width:47px !important; }
#ipm_wrap .w_48 { width:48px !important; }
#ipm_wrap .w_49 { width:49px !important; }
#ipm_wrap .w_50 { width:50px !important; }
#ipm_wrap .w_51 { width:51px !important; }
#ipm_wrap .w_52 { width:52px !important; }
#ipm_wrap .w_53 { width:53px !important; }
#ipm_wrap .w_54 { width:54px !important; }
#ipm_wrap .w_55 { width:55px !important; }
#ipm_wrap .w_56 { width:56px !important; }
#ipm_wrap .w_57 { width:57px !important; }
#ipm_wrap .w_58 { width:58px !important; }
#ipm_wrap .w_59 { width:59px !important; }
#ipm_wrap .w_60 { width:60px !important; }
#ipm_wrap .w_61 { width:61px !important; }
#ipm_wrap .w_62 { width:62px !important; }
#ipm_wrap .w_63 { width:63px !important; }
#ipm_wrap .w_64 { width:64px !important; }
#ipm_wrap .w_65 { width:65px !important; }
#ipm_wrap .w_66 { width:66px !important; }
#ipm_wrap .w_67 { width:67px !important; }
#ipm_wrap .w_68 { width:68px !important; }
#ipm_wrap .w_69 { width:69px !important; }
#ipm_wrap .w_70 { width:70px !important; }
#ipm_wrap .w_71 { width:71px !important; }
#ipm_wrap .w_72 { width:72px !important; }
#ipm_wrap .w_73 { width:73px !important; }
#ipm_wrap .w_74 { width:74px !important; }
#ipm_wrap .w_75 { width:75px !important; }
#ipm_wrap .w_76 { width:76px !important; }
#ipm_wrap .w_77 { width:77px !important; }
#ipm_wrap .w_78 { width:78px !important; }
#ipm_wrap .w_79 { width:79px !important; }
#ipm_wrap .w_80 { width:80px !important; }
#ipm_wrap .w_81 { width:81px !important; }
#ipm_wrap .w_82 { width:82px !important; }
#ipm_wrap .w_83 { width:83px !important; }
#ipm_wrap .w_84 { width:84px !important; }
#ipm_wrap .w_85 { width:85px !important; }
#ipm_wrap .w_86 { width:86px !important; }
#ipm_wrap .w_87 { width:87px !important; }
#ipm_wrap .w_88 { width:88px !important; }
#ipm_wrap .w_89 { width:89px !important; }
#ipm_wrap .w_90 { width:90px !important; }
#ipm_wrap .w_91 { width:91px !important; }
#ipm_wrap .w_92 { width:92px !important; }
#ipm_wrap .w_93 { width:93px !important; }
#ipm_wrap .w_94 { width:94px !important; }
#ipm_wrap .w_95 { width:95px !important; }
#ipm_wrap .w_96 { width:96px !important; }
#ipm_wrap .w_97 { width:97px !important; }
#ipm_wrap .w_98 { width:98px !important; }
#ipm_wrap .w_99 { width:99px !important; }
#ipm_wrap .w_100 { width:100px !important; }
#ipm_wrap .w_110 { width:110px !important; }
#ipm_wrap .w_120 { width:120px !important; }
#ipm_wrap .w_130 { width:130px !important; }
#ipm_wrap .w_140 { width:140px !important; }
#ipm_wrap .w_150 { width:150px !important; }
#ipm_wrap .w_160 { width:160px !important; }
#ipm_wrap .w_170 { width:170px !important; }
#ipm_wrap .w_180 { width:180px !important; }
#ipm_wrap .w_190 { width:190px !important; }
#ipm_wrap .w_200 { width:200px !important; }
#ipm_wrap .w_250 { width:250px !important; }
#ipm_wrap .w_300 { width:300px !important; }
#ipm_wrap .w_400 { width:400px !important; }
#ipm_wrap .w_500 { width:500px !important; }
#ipm_wrap .w_600 { width:600px !important; }
#ipm_wrap .w_700 { width:700px !important; }
#ipm_wrap .w_800 { width:800px !important; }
#ipm_wrap .w_900 { width:900px !important; }
#ipm_wrap .w_1000 { width:1000px !important; }

/* Height pixel */
#ipm_wrap .Height-100 { height:100% !important; }
#ipm_wrap .h_1 { height:1px !important; }
#ipm_wrap .h_2 { height:2px !important; }
#ipm_wrap .h_3 { height:3px !important; }
#ipm_wrap .h_4 { height:4px !important; }
#ipm_wrap .h_5 { height:5px !important; }
#ipm_wrap .h_6 { height:6px !important; }
#ipm_wrap .h_7 { height:7px !important; }
#ipm_wrap .h_8 { height:8px !important; }
#ipm_wrap .h_9 { height:9px !important; }
#ipm_wrap .h_10 { height:10px !important; }
#ipm_wrap .h_11 { height:11px !important; }
#ipm_wrap .h_12 { height:12px !important; }
#ipm_wrap .h_13 { height:13px !important; }
#ipm_wrap .h_14 { height:14px !important; }
#ipm_wrap .h_15 { height:15px !important; }
#ipm_wrap .h_16 { height:16px !important; }
#ipm_wrap .h_17 { height:17px !important; }
#ipm_wrap .h_18 { height:18px !important; }
#ipm_wrap .h_19 { height:19px !important; }
#ipm_wrap .h_20 { height:20px !important; }
#ipm_wrap .h_21 { height:21px !important; }
#ipm_wrap .h_22 { height:22px !important; }
#ipm_wrap .h_23 { height:23px !important; }
#ipm_wrap .h_24 { height:24px !important; }
#ipm_wrap .h_25 { height:25px !important; }
#ipm_wrap .h_26 { height:26px !important; }
#ipm_wrap .h_27 { height:27px !important; }
#ipm_wrap .h_28 { height:28px !important; }
#ipm_wrap .h_29 { height:29px !important; }
#ipm_wrap .h_30 { height:30px !important; }
#ipm_wrap .h_31 { height:31px !important; }
#ipm_wrap .h_32 { height:32px !important; }
#ipm_wrap .h_33 { height:33px !important; }
#ipm_wrap .h_34 { height:34px !important; }
#ipm_wrap .h_35 { height:35px !important; }
#ipm_wrap .h_36 { height:36px !important; }
#ipm_wrap .h_37 { height:37px !important; }
#ipm_wrap .h_38 { height:38px !important; }
#ipm_wrap .h_39 { height:39px !important; }
#ipm_wrap .h_40 { height:40px !important; }
#ipm_wrap .h_41 { height:41px !important; }
#ipm_wrap .h_42 { height:42px !important; }
#ipm_wrap .h_43 { height:43px !important; }
#ipm_wrap .h_44 { height:44px !important; }
#ipm_wrap .h_45 { height:45px !important; }
#ipm_wrap .h_46 { height:46px !important; }
#ipm_wrap .h_47 { height:47px !important; }
#ipm_wrap .h_48 { height:48px !important; }
#ipm_wrap .h_49 { height:49px !important; }
#ipm_wrap .h_50 { height:50px !important; }
#ipm_wrap .h_51 { height:51px !important; }
#ipm_wrap .h_52 { height:52px !important; }
#ipm_wrap .h_53 { height:53px !important; }
#ipm_wrap .h_54 { height:54px !important; }
#ipm_wrap .h_55 { height:55px !important; }
#ipm_wrap .h_56 { height:56px !important; }
#ipm_wrap .h_57 { height:57px !important; }
#ipm_wrap .h_58 { height:58px !important; }
#ipm_wrap .h_59 { height:59px !important; }
#ipm_wrap .h_60 { height:60px !important; }
#ipm_wrap .h_61 { height:61px !important; }
#ipm_wrap .h_62 { height:62px !important; }
#ipm_wrap .h_63 { height:63px !important; }
#ipm_wrap .h_64 { height:64px !important; }
#ipm_wrap .h_65 { height:65px !important; }
#ipm_wrap .h_66 { height:66px !important; }
#ipm_wrap .h_67 { height:67px !important; }
#ipm_wrap .h_68 { height:68px !important; }
#ipm_wrap .h_69 { height:69px !important; }
#ipm_wrap .h_70 { height:70px !important; }
#ipm_wrap .h_71 { height:71px !important; }
#ipm_wrap .h_72 { height:72px !important; }
#ipm_wrap .h_73 { height:73px !important; }
#ipm_wrap .h_74 { height:74px !important; }
#ipm_wrap .h_75 { height:75px !important; }
#ipm_wrap .h_76 { height:76px !important; }
#ipm_wrap .h_77 { height:77px !important; }
#ipm_wrap .h_78 { height:78px !important; }
#ipm_wrap .h_79 { height:79px !important; }
#ipm_wrap .h_80 { height:80px !important; }
#ipm_wrap .h_81 { height:81px !important; }
#ipm_wrap .h_82 { height:82px !important; }
#ipm_wrap .h_83 { height:83px !important; }
#ipm_wrap .h_84 { height:84px !important; }
#ipm_wrap .h_85 { height:85px !important; }
#ipm_wrap .h_86 { height:86px !important; }
#ipm_wrap .h_87 { height:87px !important; }
#ipm_wrap .h_88 { height:88px !important; }
#ipm_wrap .h_89 { height:89px !important; }
#ipm_wrap .h_90 { height:90px !important; }
#ipm_wrap .h_91 { height:91px !important; }
#ipm_wrap .h_92 { height:92px !important; }
#ipm_wrap .h_93 { height:93px !important; }
#ipm_wrap .h_94 { height:94px !important; }
#ipm_wrap .h_95 { height:95px !important; }
#ipm_wrap .h_96 { height:96px !important; }
#ipm_wrap .h_97 { height:97px !important; }
#ipm_wrap .h_98 { height:98px !important; }
#ipm_wrap .h_99 { height:99px !important; }
#ipm_wrap .h_100 { height:100px !important; }
#ipm_wrap .h_110 { height:110px !important; }
#ipm_wrap .h_120 { height:120px !important; }
#ipm_wrap .h_130 { height:130px !important; }
#ipm_wrap .h_140 { height:140px !important; }
#ipm_wrap .h_150 { height:150px !important; }
#ipm_wrap .h_160 { height:160px !important; }
#ipm_wrap .h_170 { height:170px !important; }
#ipm_wrap .h_180 { height:180px !important; }
#ipm_wrap .h_190 { height:190px !important; }
#ipm_wrap .h_200 { height:200px !important; }
#ipm_wrap .h_250 { height:250px !important; }
#ipm_wrap .h_300 { height:300px !important; }
#ipm_wrap .h_400 { height:400px !important; }
#ipm_wrap .h_500 { height:500px !important; }
#ipm_wrap .h_600 { height:600px !important; }
#ipm_wrap .h_700 { height:700px !important; }
#ipm_wrap .h_800 { height:800px !important; }
#ipm_wrap .h_900 { height:900px !important; }
#ipm_wrap .h_1000 { height:1000px !important; }


