<!-- range slider -->
<div class="range_group">
  <p class="range_title">범위를 선택하세요.
      <button type="button" class="btn_add" (click)="addSlider();">
        <span class="ico_plus_small">추가</span>
      </button>
  </p>

  <!-- slider group -->
  <div class="slider_box" *ngFor="let slider of sliderList; let i = index">
    <ul class="range_legend">
      <li>{{addComma(underType + min)}}</li>
      <li class="txt_r">{{addComma(max + overType)}}</li>
    </ul>

    <!-- Slider -->
    <div class="range_slider_box">
      <nouislider [connect]="true" [min]="min" [max]="max" [step]="step" [(ngModel)]="slider.range"></nouislider>
    </div>
    <!--// Slider -->
    
    <ul class="range_input_box">
      <li class="input_box">
        <input type="number" class="range_num" [min]="min" [step]="step" [value]="slider.range[0]" (change)="changeRange($event, slider, 0);">
      </li>
      <li class="input_box txt_r" [class.over]="overType ? isOverMax(slider.range[1]) : false">
        <input type="number" class="range_num" [max]="max" [step]="step" [value]="slider.range[1]" (change)="changeRange($event, slider, 1);">
      </li>
      <li class="btn_range_box">
        <button type="button" class="btn_del" (click)="deleteSlider(i);">delete</button>
      </li>
    </ul>
    
    <p *ngIf="!overType" class="alert_msg">최대 {{addComma(max)}}까지만 입력 가능합니다.</p>
  </div>
  <!--// slider group -->
</div>
<!--// range slider -->