<!-- 장비선택하지 않았을 경우 -->
<div *ngIf="!epmDetailData.list" class="section_box">
  <!-- section header -->
  <ul class="con_title_wrap">
    <li class="title no_ico">
      장비 성능 요약
    </li>
  </ul>
  <!-- section header -->

  <!-- 데이터 없을경우 클래스 'dsp_none' 삭제 -->
  <div class="device_nodata">
    <p class="big_txt">장비를 먼저 선택하세요.</p>
    <p class="small_txt">선택된 장비의 요약 정보와 1시간 단위로 상세한 성능을 확인 할 수 있습니다.</p>
  </div>
  <!--// 데이터 없을경우 -->
</div>
<!--// 장비선택하지 않았을 경우 -->

<!-- 장비선택한 경우 -->
<div *ngIf="epmDetailData.list">
  <div class="section_box">
    <!-- section header -->
    <ul class="con_title_wrap">
      <li class="title no_ico">
        장비 성능 요약 <span class="txt_info ml_10"></span>
      </li>
    </ul>
    <!-- section header -->

    <!-- data table -->
    <div class="x-scroll_wrap iscroll-x">
      <div class="device_list_wrap">
        <table class="double_th_tbl" style="width:1460px;">
          <colgroup>
            <col style="width:250px;">
            <col style="width:100px;">
            <col *ngIf="equipment == 'cell'" style="width:100px;">
            <ng-container *ngFor="let item of smryHeader; let i = index">
              <col *ngIf="(smryHeader.length - 2) > i" style="width:100px;">
            </ng-container>
          </colgroup>
          <thead>
            <tr>
              <th *ngFor="let item of smryHeader">{{item.name}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of smryList; let i = index">
              <ng-container *ngFor="let eqp of item; let j = index">
                <td *ngIf="2 > j">{{eqp}}</td>
                <td *ngIf="j > 1">{{addFixedRound(eqp)}}</td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--// data table -->
  </div>
  <!--// 장비선택한 경우 -->
  
  <!-- 1일/1시간 단위 성능 -->
  <div class="section_box list_scroll_wrap" [class.extend]="isDetailExpansion"><!-- 확대버튼 클릭시 "extend" class 삽입 -->
    <!-- section header -->
    <ul class="con_title_wrap">
      <li class="title no_ico">
        1시간 단위 성능 <span class="txt_info ml_10"></span>
      </li>
      <!-- 장비명 선택이 없을경우 클래스 'dsp_none'추가 -->
      <li class="btn_group">
  
        <div class="info_num mr_10">
          <span class="ico_dot">조회결과 :</span> {{cnt}}
        </div>
        <!-- <div class="switch_btn_wrap">
          <a href="javascript:;" class="btn_switch day" [class.on]="dth === 'day'" (click)="dth = 'day'">1일 단위</a>
          <a href="javascript:;" class="btn_switch hour" [class.on]="dth === 'hour'" (click)="dth = 'hour'">1시간 단위</a>
        </div> -->
  
        <button type="button" class="btn_small list_more" (click)="appendEpmDetailList()">{{showDataDisplay}}</button>
        <a href="javascript:;" class="btn_download device_list ml_10 mr_10" [class.ing]="isDownloadExcel" title="최대 10,000건까지 다운로드 가능" (click)="downloadExcel()"></a>
        <a href="javascript:;" class="btn_extend device_list" (click)="showExpansion()">extend</a>
      </li>
    </ul>
    <!-- section header -->
  
    <!-- data table -->
    <div class="x-scroll_wrap iscroll-x">
      <div class="device_list_wrap list_scroll" [class.extend]="isDetailExpansion"><!-- 확대버튼 클릭시 "extend" class 삽입 -->
        <table class="double_th_tbl" style="width:1760px;">
          <colgroup>
            <col style="width:70px;">
            <col style="width:80px;">
            <col style="width:80px;">
            <col style="width:250px;">
            <col style="width:100px;">
            <col *ngIf="equipment == 'cell'" style="width:100px;">
            <ng-container *ngFor="let item of header; let i = index">
              <col *ngIf="(header.length - 2) > i" style="width:100px;">
            </ng-container>
          </colgroup>
          <thead>
            <tr>
              <th>번호</th>
              <th>날짜</th>
              <th>시간</th>
              <th *ngFor="let item of header">{{item}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of list; let i = index">
              <td>{{cnt - i}}</td>
              <ng-container *ngFor="let eqp of item; let j = index">
                <td *ngIf="j == 0">{{formattingDate(eqp)}}</td>
                <td *ngIf="j > 0 && 3 >= j">{{eqp}}</td>
                <td *ngIf="j > 3">{{addFixedRound(eqp)}}</td>
              </ng-container>
            </tr>
            <tr *ngIf="list.length == 0">
              <td [attr.colspan]="header.length + 3">해당 데이터가 존재하지 않습니다.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--// data table -->
    
  </div>
</div>
<!--// 1일/1시간 단위 성능 -->