<!-- datepicker -->
<div class="range_group">
    <div class="mt_10">
        <span class="mr_10">비교군</span>
        <label class="custom-select Width-50">
            <select>
                <option>T-map(SKT)</option>
                <option>T-map (KT)</option>
                <option>T-map (LGT)</option>
            </select>
        </label>
    </div>

    <div class="date_picker_wrap">
        <div class="date_input_box ico_calendar">
            <input type="text" class="date_num">
            <div class="date_time_wrap">
                <label class="custom-select time_select">
                    <select>
                        <option>01</option>
                        <option>02</option>
                        <option>03</option>
                        <option>04</option>
                    </select>
                </label>
            </div>
        </div>
        
        <div class="date_input_box ico_calendar_r">
            <input type="text" class="date_num">

            <div class="date_time_wrap">
                <label class="custom-select time_select">
                    <select>
                        <option>01</option>
                        <option>02</option>
                        <option>03</option>
                        <option>04</option>
                    </select>
                </label>
            </div>
        </div>
        
        <div class="btn_del_wrap">
            <button type="button" class="btn_del">delete</button>
        </div>
    </div>

    <ul class="small_title_group">
        <li class="time_select_title">분석 시간대</li>
        <li class="btn_group">
            <button type="button" class="btn_select selected all">전체</button>
            <button type="button" class="btn_select exception">최한시 제외</button>
        </li>
    </ul>

    <!-- weekly check -->
    <div class="analysis_time">
        <a href="javascript:;" class="chk_time">00</a>
        <a href="javascript:;" class="chk_time">01</a>
        <a href="javascript:;" class="chk_time">02</a>
        <a href="javascript:;" class="chk_time">03</a>
        <a href="javascript:;" class="chk_time">04</a>
        <a href="javascript:;" class="chk_time">05</a>
        <a href="javascript:;" class="chk_time">06</a>
        <a href="javascript:;" class="chk_time">07</a>
        <a href="javascript:;" class="chk_time">08</a>
        <a href="javascript:;" class="chk_time">09</a>
        <a href="javascript:;" class="chk_time">10</a>
        <a href="javascript:;" class="chk_time">11</a>
        <a href="javascript:;" class="chk_time">12</a>
        <a href="javascript:;" class="chk_time">13</a>
        <a href="javascript:;" class="chk_time">14</a>
        <a href="javascript:;" class="chk_time">15</a>
        <a href="javascript:;" class="chk_time">16</a>
        <a href="javascript:;" class="chk_time">17</a>
        <a href="javascript:;" class="chk_time">18</a>
        <a href="javascript:;" class="chk_time">19</a>
        <a href="javascript:;" class="chk_time">20</a>
        <a href="javascript:;" class="chk_time">21</a>
        <a href="javascript:;" class="chk_time">22</a>
        <a href="javascript:;" class="chk_time">23</a>
    </div>
    <!--// weekly check -->
        
    <div class="mt_10">
        <span class="mr_10">대조군</span>
        <label class="custom-select Width-50">
            <select>
                <option>T-map(SKT)</option>
                <option>T-map (KT)</option>
                <option>T-map (LGT)</option>
            </select>
        </label>
        <div class="chk_box checkbox holiday">
            <input type="checkbox" name="skt_holiday" id="skt_holiday">
            <label for="skt_holiday"><span>비교군과동일</span></label>
        </div>
    </div>

    <div class="date_picker_wrap">
        <div class="date_input_box ico_calendar">
            <input type="text" class="date_num">
            <div class="date_time_wrap">
                <label class="custom-select time_select">
                    <select>
                        <option>01</option>
                        <option>02</option>
                        <option>03</option>
                        <option>04</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="date_input_box ico_calendar_r">
            <input type="text" class="date_num">

            <div class="date_time_wrap">
                <label class="custom-select time_select">
                    <select>
                        <option>01</option>
                        <option>02</option>
                        <option>03</option>
                        <option>04</option>
                    </select>
                </label>
            </div>

        </div>
        <div class="btn_del_wrap">
            <button type="button" class="btn_del">delete</button>
        </div>
    </div>

</div>
<!--// datepicker -->
    
<ul class="small_title_group">
    <li class="time_select_title">분석 시간대</li>
    <li class="btn_group">
        <button type="button" class="btn_select selected all">전체</button>
        <button type="button" class="btn_select exception">최한시 제외</button>
    </li>
</ul>

<!-- weekly check -->
<div class="analysis_time">
    <a href="javascript:;" class="chk_time">00</a>
    <a href="javascript:;" class="chk_time">01</a>
    <a href="javascript:;" class="chk_time">02</a>
    <a href="javascript:;" class="chk_time">03</a>
    <a href="javascript:;" class="chk_time">04</a>
    <a href="javascript:;" class="chk_time">05</a>
    <a href="javascript:;" class="chk_time">06</a>
    <a href="javascript:;" class="chk_time">07</a>
    <a href="javascript:;" class="chk_time">08</a>
    <a href="javascript:;" class="chk_time">09</a>
    <a href="javascript:;" class="chk_time">10</a>
    <a href="javascript:;" class="chk_time">11</a>
    <a href="javascript:;" class="chk_time">12</a>
    <a href="javascript:;" class="chk_time">13</a>
    <a href="javascript:;" class="chk_time">14</a>
    <a href="javascript:;" class="chk_time">15</a>
    <a href="javascript:;" class="chk_time">16</a>
    <a href="javascript:;" class="chk_time">17</a>
    <a href="javascript:;" class="chk_time">18</a>
    <a href="javascript:;" class="chk_time">19</a>
    <a href="javascript:;" class="chk_time">20</a>
    <a href="javascript:;" class="chk_time">21</a>
    <a href="javascript:;" class="chk_time">22</a>
    <a href="javascript:;" class="chk_time">23</a>
</div>
<!--// weekly check -->
