<!-- tree box -->
<div class="headquarters_tree_box iscroll mt_15">

  <ul class="tree_root">
    <li class="tree_item">
      <span class="tree_ico" [class.open]="isAllOn" (click)="isAllOn = !isAllOn"></span>
      <a href="javascript:;" [class.on]="isAllOn">전체
        <ng-container *ngIf="menuDetailData.allCnt != 0">({{comma(menuDetailData.allCnt)}})</ng-container>
      </a>

      <!-- 1Depth -->
      <ul class="tree_inner left_space" [hidden]="!isAllOn">
        <li class="tree_item" *ngFor="let depth1 of nodeList; let l1 = last" [class.last]="l1">
          <a href="javascript:;" class="last_item" [class.selected]="depth1.isSelected"
            [class.last]="l1" (click)="clickLastDepth(depth1)">{{depth1.name}}
            <ng-container *ngIf="depth1.value">({{comma(depth1.value)}})</ng-container>
          </a>
        </li>
      </ul>

    </li>
  </ul>

</div>
<!--// tree box -->