<div class="section_box">

    <div class="area_title clear_wrap">
        <div *ngIf="addrNmList.length == 0">
            <strong>전체</strong>
        </div>

        <div *ngIf="addrNmList.length == 1">
            <span class="ico_area float_l"></span>{{addrNmList[0]}}
            <span class="ico_area_arr"></span>
            <strong>전체</strong>
        </div>

        <div *ngIf="addrNmList.length == 2">
            <span class="ico_area float_l"></span>{{addrNmList[0]}}
            <span class="ico_area_arr"></span>
            <span class="float_l"></span>{{addrNmList[1]}} 
            <span class="ico_area_arr"></span>
            <strong>전체</strong>
        </div>

        <div *ngIf="addrNmList.length == 3">
            <span class="ico_area float_l"></span>{{addrNmList[0]}}
            <span class="ico_area_arr"></span>
            <span class="float_l"></span>{{addrNmList[1]}} 
            <span class="ico_area_arr"></span>
            <strong>{{addrNmList[2]}}</strong>
        </div>

        <div class="map_sync">
            <span class="sync_title">지도싱크</span>

            <div class="toggle_wrap" [class.on]="isMapSync">
                <span id="hands_sync" class="handle_sync" [class.on]="isMapSync" (click)="onClickMapSync()"></span>                
            </div>
        </div>

        <a href="javascript:;" class="btn_close" (click)="onClickCloseCompareMap()">X</a>

    </div>

    <div class="lpm_district">
        <div class="dis_left">
            <div class="dis_con_title">{{leftLayrGrpNmTitle}} {{leftLayrsNmTitle}}</div>
            <div class="dis_contents">{{leftDateTitle}}</div>

            <div class="map_cotainer">

                <div class="ico_loading" *ngIf="leftIsLoading"></div>
                <div class="loading_dom" *ngIf="leftIsLoading"></div>

                <ul class="legend_wrap">
                    <li class="btn_extend" [class.on]="leftIsOpenLegend==false" (click)="onClickShowLegend(true)"></li>
                    <li [class.dsp_none]="leftIsOpenLegend==false" *ngFor="let layerName of objectKeys(leftLayerLegends); let i = index">
                        <h3 [attr.class]="'title i0' + (i+1)">{{layerName}}</h3>
                        <div class="ico_legend" *ngFor="let legend of leftLayerLegends[layerName]">
                             <span [style.background]="legend.color"></span>  {{legend.value}}
                        </div>
                    </li>
                </ul>

                <!-- 투명도 -->
                <div class="map_opacity_wrap">
                    <!-- Slider -->
                    <div class="range_slider_box">
                        <nouislider [connect]="true" 
                        [min]="leftSliderMin" 
                        [max]="leftSliderMax" 
                        [step]="leftSliderStep" 
                        [(ngModel)]="leftSliderModel" 
                        (ngModelChange)="onChangeSlider($event, 'slider', true)"></nouislider>                                
                    </div>
                    <!--// Slider -->
                </div>
                <!--// 투명도 -->

                <div class="map_contants">
                    <div class="layer_block">
                        <h1 [class.on]="leftIsOpenLayerList" (click)="onClickViewCtrlLyrList(true)"><span class="ico_layer">&nbsp;</span>레이어</h1>
                
                        <ul class="layer_sub" [class.on]="leftIsOpenLayerList">
                            <li *ngFor="let constrastLayer of constrastLayerList">
                                <div class="chk_box checkbox lpm_layer">
                                    <input type="checkbox" [checked]="constrastLayer.visible" [name]="constrastLayer.id" [id]="constrastLayer.id" (click)="setVisibleLayerEvt($event, constrastLayer.name, true);">
                                    <label [for]="constrastLayer.id"><span>{{constrastLayer.aliasName}}</span></label>
                                </div>

                                <div class="map_view_sett">
                                    <div class="lattice_box" *ngIf="constrastLayer.layrGrpId!='400'" [class.on]="constrastLayer.type=='vector'" (click)="setLayerType('vector', constrastLayer.name, true)">
                                        <span>&nbsp;</span>
                                    </div>
                                    <div class="heat_box on" *ngIf="constrastLayer.layrGrpId!='400'" [class.on]="constrastLayer.type=='heatmap'" (click)="setLayerType('heatmap', constrastLayer.name, true)">
                                        <span>&nbsp;</span>
                                    </div>
                                    <div class="raw_box on" *ngIf="constrastLayer.layrGrpId=='400'" [class.on]="constrastLayer.type=='vector'">
                                        <span>&nbsp;</span>
                                    </div>
                                </div>

                                <div class="map_opacity compare-layer-opacity">
                                    <!-- slider group -->
                                    <div class="slider_box">
                                        <!-- Slider -->
                                        <div class="range_slider_box">
                                            <nouislider [connect]="true" 
                                            [min]="0" 
                                            [max]="100" 
                                            [step]="10" 
                                            [(ngModel)]="constrastLayer.opacity" 
                                            (ngModelChange)="setLayerOpacity(constrastLayer.name, $event, true)"></nouislider>                                
                                        </div>
                                        <!--// Slider -->
                                    </div>
                                    <!--// slider group -->
                                </div>

                                <div class="layer-select" *ngIf="constrastLayer.subFltrVisible">
                                    <ul *ngFor="let subFltr of constrastLayer.subFltrList" class="sub_select">
                                            <li [id]="subFltr.scrnNm" (click)="onClickFilterSelect($event, subFltr, constrastLayer, true)">{{subFltr.scrnNm}}</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="layer_select_wrap" style="display: block;">
                        <div class="right_kind_box layer_sett" *ngFor="let subFltr of leftSubFilterList">
                            <subFilter
                                [subFilterMetaInfo]="subFltr"
                                (applySubFilterEmitter)="onClickApplySubFilter($event, true)"
                                (applyRemoveSubFilterEmitter)="onClickRemoveSubFilter($event, true)"
                                (applyCollapseSubFilterEmitter)="onClickCollapseSubFilter($event, true)">
                            </subFilter>
                        </div>
                    </div>
                </div>

                <!--
                <div class="legend_wrap" *ngIf="( leftLegendList.length > 0 )" >
                    <div *ngFor="let legend of leftLegendList" class="ico_legend">
                        <span [style.background]="legend.color"></span>  {{legend.value}}
                    </div> 
                </div>
                -->

                <div id="map1" class="dis_map_wrap"></div>
            </div>
        </div>
        <div class="dis_right">
            <div class="dis_con_title">{{rightLayrGrpNmTitle}} {{rightLayrsNmTitle}}</div>
            <div class="dis_contents">{{rightDateTitle}}</div>

            <div class="map_cotainer">

                <div class="ico_loading" *ngIf="rightIsLoading"></div>
                <div class="loading_dom" *ngIf="rightIsLoading"></div>

                <ul class="legend_wrap">
                    <li class="btn_extend" [class.on]="rightIsOpenLegend==false" (click)="onClickShowLegend(false)"></li>
                    <li [class.dsp_none]="rightIsOpenLegend==false" *ngFor="let layerName of objectKeys(rightLayerLegends); let i = index">
                        <h3 [attr.class]="'title i0' + (i+1)">{{layerName}}</h3>
                        <div class="ico_legend" *ngFor="let legend of rightLayerLegends[layerName]">
                             <span [style.background]="legend.color"></span>  {{legend.value}}
                        </div>
                    </li>
                </ul>

                <!-- 투명도 -->
                <div class="map_opacity_wrap">
                    <!-- Slider -->
                    <div class="range_slider_box">
                        <nouislider [connect]="true" 
                        [min]="rightSliderMin" 
                        [max]="rightSliderMax" 
                        [step]="rightSliderStep" 
                        [(ngModel)]="rightSliderModel" 
                        (ngModelChange)="onChangeSlider($event, 'slider', false)"></nouislider>
                    </div>
                    <!--// Slider -->
                </div>
                <!--// 투명도 -->

                <div class="map_contants">
                    <div class="layer_block">
                        <h1 [class.on]="rightIsOpenLayerList" (click)="onClickViewCtrlLyrList(false)"><span class="ico_layer">&nbsp;</span>레이어</h1>
                
                        <ul class="layer_sub" [class.on]="rightIsOpenLayerList">
                            <li *ngFor="let comparisionLayer of comparisionLayerList">
                                <div class="chk_box checkbox lpm_layer">
                                    <input type="checkbox" [checked]="comparisionLayer.visible" [name]="comparisionLayer.id" [id]="comparisionLayer.id" (click)="setVisibleLayerEvt($event, comparisionLayer.name, false);">
                                    <label [for]="comparisionLayer.id"><span>{{comparisionLayer.aliasName}}</span></label>
                                </div>

                                <div class="map_view_sett">
                                    <div class="lattice_box" *ngIf="comparisionLayer.layrGrpId!='400'" [class.on]="comparisionLayer.type=='vector'" (click)="setLayerType('vector', comparisionLayer.name, false)">
                                        <span>&nbsp;</span>
                                    </div>
                                    <div class="heat_box on" *ngIf="comparisionLayer.layrGrpId!='400'" [class.on]="comparisionLayer.type=='heatmap'" (click)="setLayerType('heatmap', comparisionLayer.name, false)">
                                        <span>&nbsp;</span>
                                    </div>
                                    <div class="raw_box on" *ngIf="comparisionLayer.layrGrpId=='400'" [class.on]="comparisionLayer.type=='vector'">
                                        <span>&nbsp;</span>
                                    </div>
                                </div>

                                <div class="map_opacity compare-layer-opacity">
                                    <!-- slider group -->
                                    <div class="slider_box">
                                        <!-- Slider -->
                                        <div class="range_slider_box">
                                            <nouislider [connect]="true" 
                                            [min]="0" 
                                            [max]="100" 
                                            [step]="10" 
                                            [(ngModel)]="comparisionLayer.opacity" 
                                            (ngModelChange)="setLayerOpacity(comparisionLayer.name, $event, false)"></nouislider>                                
                                        </div>
                                        <!--// Slider -->
                                    </div>
                                    <!--// slider group -->
                                </div>

                                <div class="layer-select" *ngIf="comparisionLayer.subFltrVisible">
                                    <ul *ngFor="let subFltr of comparisionLayer.subFltrList" class="sub_select">
                                            <li [id]="subFltr.scrnNm" (click)="onClickFilterSelect($event, subFltr, comparisionLayer, false)">{{subFltr.scrnNm}}</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="layer_select_wrap" style="display: block;">
                        <div class="right_kind_box layer_sett" *ngFor="let subFltr of rightSubFilterList">
                            <subFilter
                                [subFilterMetaInfo]="subFltr"
                                (applySubFilterEmitter)="onClickApplySubFilter($event, false)"
                                (applyRemoveSubFilterEmitter)="onClickRemoveSubFilter($event, false)"
                                (applyCollapseSubFilterEmitter)="onClickCollapseSubFilter($event, false)">
                            </subFilter>
                        </div>
                    </div>
                </div>

                <!--
                <div class="legend_wrap" *ngIf="( rightLegendList.length > 0 )" >
                    <div *ngFor="let legend of rightLegendList" class="ico_legend">
                        <span [style.background]="legend.color"></span>  {{legend.value}}
                    </div> 
                </div>
                -->
                <div id="map2" class="dis_map_wrap"></div>
            </div>
        </div>
    </div>
</div>
<!--// flexible button -->