<!-- device search -->
<div class="device_kind_wrap mt_15">
  <input #searchBox type="text" placeholder="코드, 명" class="device_kind_sch" (keydown.enter)="searchBtn.click()">
  <a #searchBtn href="javascript:;" class="btn_sch" (click)="searchData(searchBox.value)"></a>
</div>
<!--// device search -->

<!-- device list -->
<ul class="list_header">
  <li class="check_box">
    <!-- 체크시 클래스 추가 'checked' -->
    <span class="check_txt" [class.checked]="isCheckedAll" (click)="checkedAll()">전체선택</span>
  </li>
  <li class="info_num">
    <span class="ico_dot">선택됨 :</span> {{checkedCount}}
  </li>
  <li class="info_num">
    <span class="ico_dot">검색결과 :</span> {{searchDataList.length}}
  </li>
</ul>

<table class="tbl_right_device">
  <colgroup>
    <col style="width:15%;">
    <ng-container *ngIf="valuesData.length == 2">
      <col style="width:85%;">
    </ng-container>
    <ng-container *ngIf="valuesData.length == 3">
      <col style="width:40%;">
      <col style="width:45%;">
    </ng-container>
  </colgroup>
  <thead>
    <tr>
      <th>
        <!-- 체크시 클래스 추가 'checked' -->
      <span class="checked_img" [class.checked]="isCheckedPage" (click)="checkedPage()"></span>
      </th>
      <ng-container *ngIf="valuesData.length == 2">
        <th>{{valuesData[1].name}}</th>
      </ng-container>
      <ng-container *ngIf="valuesData.length == 3">
        <th>{{valuesData[1].name}}</th>
        <th>{{valuesData[2].name}}</th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of pageDataList; let i = index">
      <td class="txt_c">
        <span class="checked_img" [class.checked]="item.isChecked" (click)="checkedRow(item)"></span>
      </td>
      <ng-container *ngIf="valuesData.length == 2">
          <td>{{item.code}}</td>
      </ng-container>
      <ng-container *ngIf="valuesData.length == 3">
        <ng-container *ngIf="valuesData[1].code == 'code'">
          <td>{{item.code}}</td>
          <td>{{item.name}}</td>
        </ng-container>
        <ng-container *ngIf="valuesData[1].code == 'name'">
          <td>{{item.name}}</td>
          <td>{{item.code}}</td>
        </ng-container>
      </ng-container>
    </tr>
  </tbody>
</table> 
<!--// device list -->

<!-- pagenate -->
<div class="pagenate_box" *ngIf="pageDataList.length">

  <div class="btn_left">
    <a href="javascript:;" class="btn_pre_first" (click)="goBlock(2)"></a>
    <a href="javascript:;" class="btn_pre" (click)="goBlock(0)"></a>
  </div>

  <div class="page_num">
    <ng-container *ngFor="let no of pageNoList">
      <a href="javascript:;" *ngIf="getPageOffSet(no) <= pageCount" 
         [class.on]="pageNo === getPageOffSet(no)" (click)="goPage(getPageOffSet(no))">{{ getPageOffSet(no) }}</a>
    </ng-container>
  </div>

  <div class="btn_right">
    <a href="javascript:;" class="btn_next" (click)="goBlock(1)"></a>
    <a href="javascript:;" class="btn_next_first" (click)="goBlock(3)"></a>
  </div>
</div>
<!--// pagenate -->
