<!-- keyword -->
<ul class="keyword_box">
  <li class="select_wrap">
    <label class="custom-select Width-100">
      <select [(ngModel)]="mtsoTypeCd" (change)="changeType()">
        <option value="" selected="selected">전체</option>
        <option *ngFor="let item of mtsoTypeList" [value]="item.code">{{item.name}}</option>
      </select>
    </label>
  </li>
  <li class="input_wrap">
    <input #searchBox type="text" placeholder="search" class="right_sch" (keydown.enter)="searchBtn.click()">
    <a #searchBtn href="javascript:;" class="btn_sch" (click)="searchData(searchBox.value)"></a>
  </li>
</ul>
<!--// keyword -->

<!-- result group -->
<ul class="list_header">
  <li class="check_box">
    <!-- 체크시 클래스 추가 'checked' -->
    <span class="check_txt" [class.checked]="isCheckedAll" (click)="checkedAll()">전체선택</span>
  </li>
  <li class="info_num">
    <span class="info_txt">선택됨 :</span> {{comma(checkedCount)}}
  </li>
  <li class="info_num bar">
    <span class="info_txt">검색결과 :</span> {{comma(searchDataList.length)}}
  </li>
</ul>

<div class="sch_result_box iscroll">
  <p class="result_row" *ngFor="let item of searchDataList" [class.on]="item.isChecked" (click)="checkedRow(item)">{{item.name}}</p>
  <!-- <p class="result_row">안성리LRRU_F5</p>
  <p class="result_row">#3-1 이동차량</p>
  <p class="result_row">‘SKT WIFI 치어스 장안점</p>
  <p class="result_row">면목동 109L RRUM</p>
  <p class="result_row">안성리LRRU_F5</p>
  <p class="result_row">#3-1 이동차량</p>
  <p class="result_row">‘SKT WIFI 치어스 장안점</p>
  <p class="result_row">면목동 109L RRUM</p>
  <p class="result_row">안성리LRRU_F5</p>
  <p class="result_row">#3-1 이동차량</p>
  <p class="result_row">‘SKT WIFI 치어스 장안점</p> -->
</div>
<!--// result group -->