<div class="layer_sett_result">
    <!-- range slider -->
    <div class="range_group">
        <p class="range_title">
            범위를 선택하세요.
        </p>

        <div class="slider_box" *ngFor="let slider of sliderList; let i=index">
        	<ul class="range_legend">
        		<li>{{addComma(underType + min)}}</li>
     			<li class="txt_r">{{addComma(max + overType)}}</li>
        	</ul>

        	<div class="range_slider_box">
                <nouislider [connect]="true" [min]="min" [max]="max" [step]="step" [(ngModel)]="slider.range" (ngModelChange)="onChangeSlider($event, slider)"></nouislider>
            </div>

            <ul class="range_input_box">
                <li class="input_box">
                <input type="number" class="range_num" [min]="min" [step]="step" [value]="slider.range[0]"> <!-- (change)="onChangeRange($event, slider, 0);" -->
                </li>
                <li class="input_box under txt_r" [class.over]="overType ? isOverMax(slider.range[1]) : false">>
                <input type="number" class="range_num" [max]="max" [step]="step" [value]="slider.range[1]"> <!-- (change)="onChangeRange($event, slider, 1);" -->
                </li>
                <li class="btn_range_box">
                <button type="button" class="btn_del" (click)="onClickRemoveSlider(i);">delete</button>
                </li>
            </ul>
            
            <p *ngIf="!overType" class="alert_msg">최대 {{addComma(max)}}까지만 입력 가능합니다.</p>
        </div>
    </div>
    <!--// range slider -->
    
    <button type="button" class="btn_done mt_10" (click)="onClickApplySubFilter()">
        <span class="ico_search">완료</span>
    </button>
</div>