<div class="hidden_panel_wrap" [class.dsp_block]="selectedLastNode.isShow">

    <!-- 타이틀 -->
    <div class="hidden_panel_title">
      {{selectedLastNode?.name}} ({{comma(detailAllCnt)}})
      <a href="javascript:;" class="panel_close" (click)="closeDetailBlock()"></a>
    </div>
    <!--// 타이틀 -->
  
    <!-- keyword -->
    <div class="keyword_sch_box">
      <input #searchBox type="text" placeholder="장비명, 장비코드검색" class="keyword_input" (keydown.enter)="searchBtn.click()">
      <a #searchBtn href="javascript:;" class="btn_sch" (click)="searchDetail(searchBox.value)"></a>
    </div>
    <!--// keyword -->
  
    <!-- item pack -->
    <ul class="data_package">
      <li>
        <!-- data group -->
        <ul class="list_header">
          <li class="check_box">
            <!-- 체크시 클래스 추가 'checked' -->
            <span class="check_txt" [class.checked]="isDetailAllChecked" (click)="checkedAll()">전체선택</span>
          </li>
          <li class="info_num float_r">
            <span class="info_txt">선택 :</span> {{comma(detailCheckedCount)}}
          </li>
        </ul>
  
        <div class="sch_result_box data_pack iscroll">
          <p class="result_row" *ngFor="let item of searchList" [class.on]="item.isChecked" (click)="checkedRow(item)">
            {{item.name}} ({{item.code}})
          </p>
        </div>
        <!--// data group -->
      </li>
      <li class="btn_box">
        <a href="javascript:;" class="btn_item_add" (click)="addCheckData()"></a>
        <a href="javascript:;" class="btn_item_del" (click)="delCheckData()"></a>
      </li>
      <li>
  
        <div class="hidden_panel_title_bottom">
          분석대상 ({{comma(finalList.length)}})
        </div>
  
        <!-- data group -->
        <ul class="list_header">
          <li class="check_box">
            <!-- 체크시 클래스 추가 'checked' -->
            <span class="check_txt" [class.checked]="isFinalAllChecked" (click)="checkedAllFinal()">전체선택</span>
          </li>
          <li class="info_num float_r">
            <span class="info_txt">선택 :</span> {{comma(finalCheckedCount)}}
          </li>
        </ul>
  
        <div class="sch_result_box data_pack iscroll">
          <p class="result_row" *ngFor="let item of finalList" [class.on]="item.isChecked"
            (click)="checkedRowFinal(item)">{{item.name}}
          </p>
        </div>
        <!--// data group -->
      </li>
    </ul>
    <!--// item pack -->
  
  </div>